 body {
    font-family: 'Open Sans Condensed', sans-serif;
  }
  .title-holder {
    text-align: relative;
  }
  .title {
    font-family: 'Open Sans Condensed', sans-serif;
  }
  .font {
    font-size: 20px;
  }
  
  /* legend */
  .legend {
    font-size: 20px;
  }
  rect {
    cursor: pointer; 
    stroke-width: 2;
  }
  rect.disabled {
    fill: transparent !important;
  }
  
  /* chart */
  #chart {
    height: 800px;
    margin: 0 auto;
    position: relative;
    display: block;
    width: 800px; 
  }

.arc text {
    font: 10px sans-serif;
    text-anchor: middle;
}

.arc path {
    stroke: #fff;
}

.toolTip {
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    background: none repeat scroll 0 0 white;
    border: 0 none;
    border-radius: 8px 8px 8px 8px;
    box-shadow: -3px 3px 15px #888888;
    color: black;
    font: 12px sans-serif;
    padding: 5px;
    text-align: center;
}
.footer {
    padding-top: 50px;
    text-align: relative;
    list-style-type: none;
  }