<!DOCTYPE html>
<html lang="en-us">

<head>

    <meta charset="UTF-8">
    <title>2015 Airline Delays Bar Chart</title>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/barChart.css">

    <div class="title-holder">
        <h1 class="title">2015 US Airline Flight Data</h1>
        <p class="subtitle">Totals measured in minutes</p>
        <p class="font">Uncheck labels to compare data across all airlines</p>
    </div>
    <style>
        .axis .domain {
            display: none;
        }
    </style>
    <svg width="960" height="500"></svg>

    <div id="chart"></div>

    <footer>
        <ul class="footer">
            <li><a href="https://www.transtats.bts.gov/Fields.asp?Table_ID=236&SYS_Table_Name=T_ONTIME&User_Table_Name=On-Time%20Performance&Year_Info=1&First_Year=1987&Last_Year=2017&Rate_Info=0&Frequency=Monthly&Data_Frequency=Annual,Quarterly,Monthly"
                    target="_blank">Data Source</a></li>
        </ul>
    </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>
    <script type="text/javascript" src="../static/js/barChart.js"></script>

    </body>

</html>