<!DOCTYPE html>
<html lang="en">
	<head>
	        <meta charset="utf-8">
		<title>Flight Cancellation Monthly Rate</title>
                <link rel="stylesheet" type="text/css" href="../static/css/lineChart.css">
		
	</head>
	<body class="background">
                <h1>2015 Monthly Flight Cancellation Rate By Airlines:</h1>	
                <script src="https://d3js.org/d3.v4.js"></script>
                <select id="selectButton"></select>
                <div id="my_dataviz"></div>
                <div id="display-result"></div>
                <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
                
                <script type="text/javascript" src="../static/js/lineChart.js"></script>
                    
        </body>
</html>
